services:
  db:
    image: postgres:16
    container_name: backend_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_app
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "9000:8000"
    volumes:
      - ./app:/usr/src/app/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
