services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    ports:
      - "0.0.0.0:3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
    command: npm run dev
    profiles:
      - dev

  app-prod:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "0.0.0.0:3000:3000"
    environment:
      - NODE_ENV=production
    profiles:
      - prod

  app-build:
    build:
      context: .
      dockerfile: Dockerfile
    profiles:
      - build
